{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
  <div class="media-body">
  <div class="media-body">
    <div class="article-metadata">
       <img class="rounded-circle article-img" src="https://2.bp.blogspot.com/-lHLm8cAZH6U/WO56Z0mflyI/AAAAAAAAiNM/tOUpYVq5L8MLymkLOOJ2TX_Fr9aqwdfWwCLcB/s200/8fc65aa22d388770.jpg">
      <a class="mr-2" href="#">Firecycle</a>
      <small class="text-muted">02-06-2020</small>
    </div>
    <h2>Air Jordan 1 Retro High OG UNC to Chicago WMNS</h2>
    <p class="article-content">Release Date: February 14th
Colorway: BLACK/DARK POWDER BLUE-GYM RED
Style Code: CD0461-046
Retail Price: $170

US Upcoming Raffle Links
Online Raffle Links
More Information Coming Soon

App Raffle Links
Finishline

https://www.finishline.com/app

In-Store Raffle Links
More Information Coming Soon

US Online Release Drop Links
10am EST Online Drop Links
Nike

SNKRS App

Release Date: February 13th

https://www.nike.com/launch/t/air-jordan-1-powder-blue-gym-red/

Shiekh

More Information Coming Soon

https://www.shiekh.com/launch-calendar.html

DTLR VILLA

https://www.dtlr.com/pages/releases

Champs

https://www.champssports.com/product/jordan-jordan-retro-1-high-og/D0461046.html

Eastbay

https://www.eastbay.com/product/Jordan-Jordan-Retro-1-High-OG/D0461046.html

Footaction

https://www.footaction.com/product/Jordan-Jordan-Retro-1-High-OG/D0461046.html
</p>
  </div>
</article>
{% endblock content %}

